.sphere {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.sphere.full {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  z-index: 10;
  flex-direction: column;
}

.saving-content {
  margin-top: 40px;
  width: 80%;
}

.tx {
  background: white;
  color: black;
  padding: 8px;
  margin: 6px 0;
  border-radius: 8px;
}
